# VacationPy
## Note
- Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import os
import time


# Import API key
# Google developer API key
#from config import gkey
gkey = "AIzaSyAuJ-YLDbY4Il0jCkbdItqjiMyBd8CgARg"
# Access maps with unique API key
gmaps.configure(api_key=gkey)

## Store Part 1 results into DataFrame
- Load the csv exported in Part 1 to a DataFrame

In [2]:
# Incorporated citipy to determine city based on latitude and longitude

from citipy import citipy

# read the cities.csv to create dataframe, previous cells are not needed to be executed as long as cities.csv was created
cities = pd.read_csv("cities.csv", encoding="utf-8")
# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)
cities.head()

,City,Country,Lat,Lng,Date,Cloudiness,Humidity,Max Temp,Wind Speed
0,punta arenas,CL,-53.150002,-70.916672,1569207600,90,84,43.97,11.34
1,chokurdakh,RU,70.633331,147.916672,1569207600,0,61,36.52,9.82
2,marienburg,SR,5.846910,-55.021591,1569207600,58,82,82.31,19.17
3,bernardino de campos,BR,-23.013060,-49.474171,1569207600,60,70,59.09,19.77
4,yantal,RU,56.847099,105.254204,1569207600,87,62,62.47,4.68

## Humidity Heatmap
- Configure gmaps.
- Use the Lat and Lng as locations and Humidity as the weight.
- Add Heatmap layer to map.

In [3]:
humidity = cities["Humidity"].astype(float)
maxhumidity = humidity.max()
locations = cities[["Lat", "Lng"]]

In [4]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False)
heat_layer.max_intensity = 80
heat_layer.point_radius = 5

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

## Create new DataFrame fitting weather criteria
- Narrow down the cities to fit weather conditions.
- Drop any rows with null values

In [5]:
narrowed_city_df = cities.loc[(cities["Max Temp"] > 70) & (cities["Max Temp"] < 80) & (cities["Wind Speed"] < 10) & (cities["Cloudiness"] == 0), :]
narrowed_city_df = narrowed_city_df.dropna(how='any')
narrowed_city_df.reset_index(inplace=True)
del narrowed_city_df['index']
narrowed_city_df.head()

,City,Country,Lat,Lng,Date,Cloudiness,Humidity,Max Temp,Wind Speed
0,morondava,MG,-20.283331,44.283329,1569207600,0,60,75.83,8.30
1,nelson bay,AU,-32.716671,152.149994,1569207600,0,54,71.58,8.72
2,sao felix do xingu,BR,-6.644720,-51.994999,1569207600,0,64,75.65,1.74
3,tieli,CN,46.950001,128.050003,1569207600,0,65,72.41,8.86
4,capitao poco,BR,-1.746390,-47.059441,1569207600,0,88,74.03,6.26

## Hotel Map
- Store into variable named hotel_Df
- Add a "Hotel Name" column to the DataFrame
- Set parameters to search for hotels with 5000 meters
- Hit the Google Places API for each cities coordinated
- Store the first Hotel result into the DataFrame
- Plot markers on top of the heatmap

In [6]:
hotellist = []

for i in range(len(narrowed_city_df)):
    lat = narrowed_city_df.loc[i]['Lat']
    lng = narrowed_city_df.loc[i]['Lng']

    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": gkey
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotellist.append(jsn['results'][0]['name'])
    except:
        hotellist.append("")
narrowed_city_df["Hotel Name"] = hotellist
narrowed_city_df = narrowed_city_df.dropna(how='any')
narrowed_city_df.head()

,City,Country,Lat,Lng,Date,Cloudiness,Humidity,Max Temp,Wind Speed,Hotel Name
0,morondava,MG,-20.283331,44.283329,1569207600,0,60,75.83,8.30,Morondava
1,nelson bay,AU,-32.716671,152.149994,1569207600,0,54,71.58,8.72,Nelson Bay - Corlette
2,sao felix do xingu,BR,-6.644720,-51.994999,1569207600,0,64,75.65,1.74,São Félix do Xingu
3,tieli,CN,46.950001,128.050003,1569207600,0,65,72.41,8.86,Yichun
4,capitao poco,BR,-1.746390,-47.059441,1569207600,0,88,74.03,6.26,Capitão Poço

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = narrowed_city_df[["Lat", "Lng"]]

In [8]:
# Plot markers on top of the heatmap
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))